.navbar div {
  height: 60px;
  display: flex;
  align-items: center;
  color: #fff;

  a {
    color: #fff;
    margin: 0;
    padding: 0;
  }
}

.row {
  margin: 0;
}

.category {
  background-color: #004C93;
  text-transform: uppercase;

  svg {
    font-size: 2rem;
    margin-right: 10px;
  }

  a {
    display: flex;
    align-items: center;
  }
}

.actions {
  background-color: #1061AB;
  text-transform: uppercase;
  justify-content: center;
}

.brends {
  background-color: #2B7BC6;
  text-transform: uppercase;
  justify-content: center;
}

.search-field {
  background-color: #FFFFFF;
  color: #000 !important;
  justify-content: space-between;

  svg {
    color: #2B7BC6 !important;
    font-size: 1.2rem;
  }
}

.icons {
  background-color: #F1F8FF;
  font-size: 1.4rem;
  justify-content: space-around;

  a {
    color: #2B7BC6 !important;
  }
}
