.footer {
  margin-top: 40px;
  padding: 40px;
  padding-bottom: 80px;
  background: #FFFFFF;
  font-size: 1.2rem;
  position: relative;

  ul li {
    list-style: none;
    margin-bottom: 12px;
  }

  h4 {
    margin-bottom: 20px;
  }

  p {
    font-weight: 500;
  }

  p > svg {
    margin-right: 10px;
    color: rgb(0, 41, 154);
  }

  .author {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: rgba(203, 200, 200, 0.3);
    padding: 0 20px;

    p {
      margin: 0;
      padding: 0;
      font-weight: 400;
    }
  }
}

@media (max-width: 1240px) {
  .footer {
    padding: 10px;
    padding-bottom: 60px;

    ul {
      padding: 0;
    }

    .first-menu,
    .second-menu {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    height: auto;
  }
}

@media (max-width: 576px) {
  .footer {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  
}