::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #c5ccd3;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

html {
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  display: inline;
  border-bottom: 1px solid #1061ab;
  padding: 5px 0;
}
