::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #c5ccd3;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.section-title {
  display: inline;
  border-bottom: 1px solid #1061AB;
  padding: 5px 0;
}

