.slider-area {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004C93;
}

.slider-right {
  height: 380px;
  background-color: #3BB9B8;
}

.slider-right div {
  height: 50%;
  text-align: right;
}